/**************************************************************
****************         VARIABLES          *******************
**************************************************************/

@cyan: #00B1EB;
@mainFont: 'oscine';
@header-height: 6em;



@headerColor: #404040;
/*@footerColor: #f98202;*/
@footerColor: #e47500;
@bodyColor: #fff;
@iconColor: #fff;
@iconHoverColor: #ed8d10;
@h1Color: black;
@lightGreyColor: #adacac;
/*@mainOrangeColor: #f98202;*/
@mainOrangeColor: #e47500;
@palebanner: #fcfcfc;


@h1Size: 10em;

/**************************************************************
******************         MIXINS          ********************
**************************************************************/

.SmoothHover(@speed){
    -o-transition: color @speed ease-in-out, background @speed ease-in-out;
    -ms-transition: color @speed ease-in-out, background @speed ease-in-out;
    -moz-transition: color @speed ease-in-out, background @speed ease-in-out;
    -webkit-transition: color @speed ease-in-out, background @speed ease-in-out;
    transition: color @speed ease-in-out, background @speed ease-in-out;
}

.Clearfix{
	*zoom:1;
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

/**************************************************************
******************         STYLES          ********************
**************************************************************/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.flexslider ul{
    list-style: none!important;
    margin: 0!important;
}

.flexbox-container{
	display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.hidden{
    display: none;
}

.invisible{
    opacity: 0;
}

.pageContent{
    .Clearfix();
    background: #fff;
    margin-top: @header-height;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em;
}

.pageContent.noTiles img{
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.pageContent.noTiles.blog img{
    margin-bottom: 1em;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

.pageContent.blog.noTiles .content{
    margin: 0 auto;
    max-width: 650px;
}

.pageContent ul{
    list-style: square;
    margin: 1.5em 0 1em 1em;
}

.pageContent ol{
    list-style: decimal;
    margin: 0 0 1em 0;
}

.pageContent ol > li{
    margin: 0 0 0.5em 1.5em;
}



blockquote{
    margin-top: 4em;
}

blockquote-namw{
    text-align: center;
}

strong{
    font-weight: 600;
}

body{
    background: #fff;
    color: @headerColor;
    font-family: @mainFont;
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern","liga";
    -webkit-font-smoothing: antialiased;
}

#fouc{
    overflow-x: hidden;
}


h1{
    color: black;
    font-family: @mainFont;
    font-size: 2.25em;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

h2{
    font-size: 1.8em;
    line-height: 1.4em;
    margin: 1em 0 1em 0;
    font-weight: 300;
}

h3{
    line-height: 1.4em;
	margin: 1em 0 1em 0;
    font-size: 1.5em;
}

h4{
    margin: 0 0 1.25em 0;
}

h5{
    text-align:center;
}

a{
    text-decoration: none;
}

p{
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 1em 0;
}

p, ul, ol, blockquote, figcaption{
    font-size: 1em;
    line-height: 1.5em;
}

.slides{
    line-height: normal;
}

button, #catwebformbutton, .button{
    background: linear-gradient(#00B1EB, #3775BA, #5C2483);
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: @mainFont;
    font-size: 1.4em;
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-transform: uppercase;
    .SmoothHover(0.5s);
}

.button:hover{
    background: linear-gradient(#64cdf4, #54469a);
}


.pageContent button{
    display: block;
    margin: 0 auto;
    width: auto;
}


.backToProjects{
    padding-bottom: 2em;
}

.viewWebsite button{
    background-image: url(/images/icons/external.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 1em 1em;
    padding: 0.3em 2.5em 0.2em 1.5em;
}

.viewWebsite button:hover{
    background-image: url(/images/icons/external.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 1em 1em;
    padding: 0.3em 2.5em 0.2em 1.5em;
}

.backToProjects button{
    background-image: url(/images/icons/tiles.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 0.9em 0.9em;
    padding: 0.3em 2.5em 0.2em 1.5em;
}

.backToProjects button:hover{
    background-image: url(/images/icons/tiles.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 0.9em 0.9em;
    padding: 0.3em 2.5em 0.2em 1.5em;
}

img{
    display: block;
    max-width: 100%;
    width: 100%;
}

.textSection{
    background: #fff;
    display: block;
    width: 100%;
}

.textSection .content{
    margin: 0 auto;
    padding: 1.5em 1em;
    max-width: 60em;
}

.servicesUsed{
    .Clearfix();
    background: #e8e8e8;
    float: left;
    padding-top: 4em;
    padding-bottom: 4em;
    width: 100%;
    h2{
        font-size: 1.3em;
        margin-top: 0;
        margin-left: 1em;
        margin-bottom: 1.5em;
        text-align: center;
    }
    .navTiles{
        text-align: center;
    }
    .tileContainer{
        .Clearfix();
        background: #000;
        display: inline-block;
        float: none;
        margin: 0 0.5em 1em 0.5em;
        max-width: 230px;
        .tile .tileText h2{
            font-size: 1.5em;
            margin-left: 0;
        }
    }
}

footer .selected > a{
    border-bottom: none;
    padding-bottom: 0;
}

/*.selected > a{
    border-bottom: 1px solid #ffad54;
    padding-bottom: 0.2em;
}*/

.highlight{
    opacity: 0.3;
}


.textSection{
    .Clearfix();
}

.text, .secondaryImage{
    margin: 0 0 2em 0;
}

.sectionNav{
    background: url("/images/fullServiceBackground.jpg");
    background-size: cover;
    float: left;
    padding: 1em;
    text-align: center;
    width: 100%;
    h2{
        color: #fff;
        font-size: 1.9em;
        margin: 0.5em 0 0.75em 0;
    }
    ul{
        list-style: none;
        margin: 0;
        text-align: center;
        li{
            display: inline-block;
        	margin: 0 0 2em 0;
            max-width: 385px;
        }
    }
    .sectionNavTile{
        background: #000;
        position: relative;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        h1{
            color: #fff;
            font-size: 1em;
    		font-weight: 400;
            position: absolute;
            text-align: center;
            text-shadow: -0.1em 0.1em 0.2em #959494;
    		text-transform: uppercase;
            top: 20px;
            width: 100%;
        }
        img{
            max-width: 385px;
            opacity: 0.85;
            -o-transition: 0.4s;
            -ms-transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            transition: 0.4s;

        }
    }
}

.sectionNav .sectionNavTile:hover img{
    opacity: 0.65;
}

.text, .secondaryImage{
    float: left;
    width: 100%;
}

.mainImage{
    width: 100%;
}

.landscape{
    width: 100%;
}

.portrait{
    float: left;
    width: 50%;
}


.imageContainer{
    .Clearfix();
    display: block;
}

.imageWithBackground{
    .Clearfix();
    background: grey;
    padding: 1em 1em 0 1em;
}

.imageWithBackground .portrait{
    padding: 1em 0.5em 1em 1em;
    margin: 0;
    width: 45%;
}

.imageWithBackground .landscape{
	padding: 10% 1em 1em 0.5em;
    margin: 0;
    width: 55%;
}


.imageWithBackground img{
    cursor: pointer;
    display: block;
    /*margin: 1em auto 0 auto;
    max-width: 56em;
    width: 90%;*/
}

.imageWithBackground.ipad{
    padding: 0;
}

.fixed {
    position: fixed;
    opacity: 0.85;
    left: 0;
    top: 0;
    width: 100%;
}

.logoBox{
    background: #fff;
    float: left;
	padding: 2em 0.5em;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ccc;
    img{
        display: inline-block;
        height: 4.5em;
        padding: 0.75em;
        vertical-align: top;
        width: auto;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    img:hover{
        transform: scale(1.2);
    }
}

.infoBox.results{
    h2{
        color: #000;
        margin: 0;
    }
    button{
        border: 1px solid #000;
    }
}

/**************************************************************
****************         NAV RELATED         ******************
**************************************************************/

.navigation, .navigation > div > ul > li > ul {
    list-style: none;
    background: @cyan;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.navigation{
    left: 0;
    z-index: 0;

/*    position: relative; */
}

.navCover{
    left: 0;
    background: #eceff4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.navigation > div > ul > li > ul{
    left: 17em;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
}

.submenuActive{
    left: 0!important;
}

.parentmenuInactive{
    left: -25em!important;
}

.site-wrap {
    background: #fff;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 3;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.site-wrap.grey{
    background: #eceff4;
}

.slideRight{
    left: 16.5em!important;
}

.slideRightForBackToTop{
    left: 33em!important;
}

nav, .navigation, .navigation > div > ul > li > ul{
        width: 16.5em;
}

footer nav{
    width: auto;
}

@media(max-width: 25em){

    /* this stops scrolling on the body. it gets applied when the menu is opened. the only time you want this to happen
     is on mobile, on ipad and desktop the rest of the content should still be scrollable when the menu is open */
    .preventScroll{
        overflow: hidden;
    }

}


.allowScroll{
    overflow: auto;
}



.nav-trigger + label{
    transition: left 0.4s;
    -o-transition: left 0.4s;
    -ms-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -webkit-transition: left 0.4s;
}

body {
    overflow-x: hidden;
}

@menu-padding: 25px 40px;

nav ul li ul li a{
    width: 100%;
}

nav ul a{
    font-family: @mainFont;
    font-size: 1.4em;
    text-transform: uppercase;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 207px;
    display: block;
    padding: @menu-padding;
}

.sub-menu-heading{
    border-bottom: 1px solid white;
    padding: @menu-padding;
}

nav a:link{
    color: white;
}

nav a:visited{
    color: white;
}

nav a:hover{
    color: #dadada;
}

nav a:active{
    color: #ffad54;
}

nav .navigation > ul{
    position: relative;
    z-index: 0;
}

nav button{
    border-color: @headerColor;
    color: @headerColor;
    margin-bottom: 0.8em;
}

nav button:hover{
    background: #bf6300;
}


.menuTitle{
    color: @headerColor;
    font-family: @mainFont;
    font-size: 1.4em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

nav li{
    border-bottom: 1px solid white;
    position: relative;
}

.backArrow,
.forwardArrow{
    color: #fff;
    cursor: pointer;
    font-size: 1.8em;
    padding: 0 0.5em;
    position: absolute;
    top: 22px;
}

.backArrow{
    left: 0;
}

.forwardArrow{
    right: 0;
    top: 0;
    height: 100%;
    border-left: 1px solid white;
    padding-top: 22px;
    padding-left: 20px;
    width: 2em;
}


.backArrow:hover,
.forwardArrow:hover{
    color: #dadada;
}

.backArrow:active,
.forwardArrow:active{
    color: #ffad54;
}

.tel{
    display: block;
    font-family: @mainFont;
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 7em;
}

.tel:link{
    color: @headerColor;
}

.tel:visited{
    color: @headerColor;
}

.tel:hover{
    color: #5c5c5c;
}

.tel:active{
    color: @headerColor;
}

nav .socialIcons img{
    border: 1px solid #fff;
    border-radius: 0.2em;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0.5em 1em 0.5em 0;
    padding: 0.3em;
    width: 2.2em;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

nav .socialIcons img:hover{
    background: #bf6300;
}

.retailer-logos{
    padding: 2em;
}

.logos{
    display: inline-block;
    width: auto;
    height: 35px;
    margin: 0 auto 2em auto;
}



/**************************************************************
******************         HEADER          ********************
**************************************************************/

header{
    .Clearfix();
    background-color: rgba(255, 255, 255, 0.8);
    height: @header-height;
    padding: 1.2em;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.ghost{
    background: @headerColor;
    height: 3.7em;
    width: 100%;
}

.menu{
    cursor: pointer;
    font-size: 1rem;
    height: 40px;
    left: 9px;
    padding: 5px;
    position: absolute;
    top: 28px;
    width: 40px;
    z-index: 15;
}

.globe,
.close{
    cursor: pointer;
    font-size: 1rem;
    height: 35px;
    right: 16px;
    padding: 5px;
    position: absolute;
    top: 31px;
 	width: 35px;
    z-index: 15;
}

.close{
    display: none;
    height: 30px;
    width: 30px;
    right: 18px;
    top: 34px;
}

nav .country-select{
    display: block;
    max-width: 320px;
    overflow-y: auto;
    padding: @menu-padding;
    top: @header-height;
    right: 0;
    width: 100%;
    z-index: 10;
}

nav .flag{
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
    width: 27%;
    margin-bottom: 8%;
}

header .country-select{
	background: #fff;
    border-bottom: 1px solid #D3D0E1;
    display: none;
    max-width: 320px;
    overflow-y: auto;
    padding: 0.4em 0 0.3em 0;
    position: absolute;
    text-align: center;
    top: @header-height;
    right: 0;
    width: 100%;
    z-index: 10;
}

header .flag{
    box-shadow: 0 0 5px grey;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    width: 13.3%;
}

#logo{
    display: inline-block;
    width: 7em;
}

#logo-circle {
  display: inline-block;
  margin-top: 10px;
  width: 160px;
}

header button{
    border: 1px solid #fff;
    color: #fff;
    display: none;
    font-size: 1.4em;
    font-weight: 100;
    padding: 0.4em 1em 0.4em 1em;
    position: absolute;
    top: 0.75em;
    right: 2em;
    transition: right 0.5s ease-in-out, background 0.25s;
    -o-transition: right 0.5s ease-in-out, background 0.25s;
    -ms-transition: right 0.5s ease-in-out, background 0.25s;
    -moz-transition: right 0.5s ease-in-out, background 0.25s;
    -webkit-transition: right 0.5s ease-in-out, background 0.25s;
}

.phoneIcon{
    display: block;
    height: 3.4em;
    padding: 0.95em;
    position: absolute;
    right: 0;
    top: 0.1em;
    width: 3.4em;
}



/**************************************************************
******************          FOOTER          ********************
**************************************************************/

footer{
    background: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}

footer .decoration{
    background-image: url("/images/footer-decoration.jpg");
    height: 26px;
}

footer .social .content{
    .Clearfix();
    width: 160px;
    padding: 1.25em;
    margin: 0 auto;
}

footer .social img{
    float: left;
    padding: 0.3em;
    width: 33.33%;
}

footer .copyright,
footer .privacy{
    background: rgba(255, 255, 255, 0.7);
    padding: 1em 2em;
    text-align: center;
}

footer .privacy{
    padding: 1em 0;
}

footer .privacy a:link,
footer .privacy a:visited,
footer .privacy a:active{
    color: #000;
}

footer .privacy li{
    display: inline-block;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

footer .privacy a:hover{
    color: #f7f9fa;
}

footer .copyright p{
    color: #000;
    font-size: 0.75em;
    margin-bottom: 0;
}

.footer-logo{
    width: 3em;
    margin: 0 auto;
    padding-bottom: 2em;
}





/**************************************************************
******************         INDEX          ********************
**************************************************************/

.banner{
    position: relative;
}

.banner-text{
    position: absolute;
    top: 1em;
    left: 1em;
}

.banner-text h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0.1em;
    text-shadow: 1px 1px 10px #969696;
}

.banner-text h2{
    color: #fff;
    font-size: 1em;
    font-weight: 900;
    text-shadow: 1px 1px 20px black;
    text-transform: none;
}

.flex-control-nav{
    display: none;
}

.stories{
    position: relative;
}

.stories .tile-text{
    position: absolute;
    top: 1em;
    left: 1em;
}

.stories h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0.1em;
    margin-top: 0;
    text-shadow: 1px 1px 10px #969696;
}

/**************************************************************
******************         PRODUCTS          ********************
**************************************************************/

.award{
    margin-bottom: 1em;
    width: 76px;
}

.product-page{
    padding: 1em 2em;
}

.product-page h1{
    margin-bottom: 0.5em;
    text-transform: none;
}

.product-page .button{
    display: block;
    margin-bottom: 0;
    text-align: center;
}

.buttons-section{
    margin-top: 3em;
}

.product-images{
    margin-bottom: 2em;
}

.product-title:link h2,
.product-title:visited h2,
.product-title:active h2{
    color: #404040;
}

.product-title:hover h2{
    color: #929191;
}

.products-banner{
    position: relative;
}

.products-banner h1{
    position: absolute;
    left: 1em;
    top: 0.6em;
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0.1em;
    text-shadow: 1px 1px 10px #969696;
}

.product{
    border-bottom: 1px solid #bdbdbd;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 2em;
    text-align: center;
}

.product:last-child{
    border-bottom: none;
}

/**************************************************************
******************         BUY           *******************
**************************************************************/

.buy-shops{
    padding: 1em;
    background: #fff;
}

.shop{
    background: #eceff4;
	border: 1px solid #e9e9e9;
    border-radius: 2px;
    height: 229px;
    margin-bottom: 1em;
    position: relative;
}

.shop img{
    max-width: 170px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.buy-me{
    background: #fff;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/**************************************************************
******************         CONTACT           *******************
**************************************************************/

.left-page{
    padding: 2em;
    width: 100%;
}

.left-page,
.contact-form,
.contact-us-page form{
    background: #eceff4;
}

.contact-us-page{
    padding: 0;
}

.contact-form{
    margin-top: 2em;
    margin-bottom: 2em;
}


.contact-form table{
    border: none;
    width: 100%;
}

.contact-form input.cat_textbox, .contact-form textarea.cat_listbox, .contact-form select.cat_dropdown, .contact-form select.cat_listbox{
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 2em;
    padding: 1em;
    width: 100%;
}

.contact-form th,
.contact-form td{
    border: none;
}

.contact-form table.webform td{
    padding: 0;
}

.contact-form .form label, .contact-form .webform label{
    font-size: 1em;
}

#CAT_Custom_939992{
    height: 37px;
}

.contact-us-page .contact-page-text{
    width: 100%;
}


/**************************************************************
******************         BLOG          ********************
**************************************************************/

#catblogoutput{
    width: 100%;
}

.blog h1{
    color: @cyan;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

.pageContent.blog{
    background: #eceff4;
    padding: 1em;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.blog article{
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #d4d2d2;
    margin-bottom: 1em;
    width: 100%;
}

.blog article img{
    border-radius: 3px 3px 0 0;
}

.blog-summary{
    padding: 1em;
}

.post-title{
    font-size: 1.2em;
    font-weight: 900;
    text-transform: none;
}

.post-title a:link,
.post-title a:visited,
.post-title a:active{
    color: @cyan;
}

.post-title a:hover{
    color: #84daf5;
}

.blog-summary p,
.post-details{
	color: #8f8f8f;
}

.post-details{
    font-size: 0.8em;
    margin-bottom: 1em;
}

.post-read-more.button{
    background: #e6e6e6;
    border-radius: 4px;
    color: #676767;
    font-size: 0.9em;
    margin-bottom: 0;
}

.post-read-more.button:hover{
    background: #c9c8c8;
}

.full-post-feat-image{
    margin-bottom: 1em;
}

.full-post-content{
    font-size: 1rem;
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

.full-post-content h2{
    color: @cyan;
    font-size: 1.5em;
    font-weight: 900;
    margin: 3em 0 1em 0;
    text-transform: none;
}

.full-post-content h3{
    font-size: 1.4em;
    margin: 1.75em 0;
}

.full-post-content img{
    display: inline;
    width: auto;
}

.blog article .full-post-feat-image{
    border-radius: 0;
    max-width: 900px;
    margin: 0 auto 2em auto;
}

.blog article.full-blog-post .full-post-content img{
    margin: 1em auto;
}

/**************************************************************
******************         FAQ          ********************
**************************************************************/

.question {
    cursor: pointer;
    margin: 0;
}

.faq > div{
    padding-top: 1em;
    padding-bottom: 1em;
}

/**************************************************************
******************         TERMS          ********************
**************************************************************/

.terms ul{
    list-style: none;
}

/**************************************************************
******************         PRIVACY          ********************
**************************************************************/

.privacy-page ul{
    list-style: none;
}

/**************************************************************
******************         SITE-MAP          ********************
**************************************************************/

.site-map ul{
    list-style: none;
}

.site-map ul li p{
    text-align: left;
}

.site-map ul li ul{
    list-style: square;
}
/**************************************************************
******************         ABOUT          ********************
**************************************************************/

.about .aboutText, .about .team{
    margin: 0 auto;
}

.about .team img{
        display: block;
        float: left;
        width: 50%;
    }

.about .content img{
    margin-bottom: 2em;
}

#roger{
    margin: auto;
    width: 40%;
    max-width: 215px;
}




/**************************************************************
******         PORTFOLIO - FROM OLD SITE -         *********
**************************************************************/

.portfolio-page .content img{
    max-width: 600px;
}

.portfolio-page .content button{
    margin-top: 3em;
}

.portfolio h2{
    margin: 1em 0 0.25em 0;
    font-size:1em;

}

.portfolio article{
    display: block;
    margin: 0 auto 4em auto;
    max-width: 400px;
    text-align: center;
    width: 100%;
}

.portfolio article button{
    display: inline-block;
    font-size: 1em;
    margin: 1%;
    width: 47%;
}

/**************************************************************
******         REQUEST QUOTE - FROM OLD SITE -        *********
**************************************************************/

/*.requestQuote #catwebformbutton {
    display: block;
    font-size: 1.5em;
    margin: 1em;
}*/

/**************************************************************
*****     ONLINE BUSINESS SYSTEM - FROM OLD SITE -    *********
**************************************************************/

.businessSystem .content img{
    width: 53px;
    max-width: 53px;
}

.businessSystem h2{
    margin-top: 4em;
}

/**************************************************************
******         PRICING - FROM OLD SITE -         *********
**************************************************************/

.pricing article{
    display: block;
    margin: 0 auto 2em auto;
    max-width: 320px;
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 1em;
}

.pricing article button{
    display: block;
    font-size: 1.2em;
    margin: 2em auto 0.5em auto;
    width: 100%;
}

.pricing h2{
    color: @mainOrangeColor;
    font-size: 1.4em;
    margin: 0 0 0.5em 0;
}

.pricing h3{
    font-size: 1.3em;
    text-align: center;
    line-height: 1em;
}

.pricing .pricingOtherAreas{
    border-top: 0px solid @mainOrangeColor;

}

.pricing .pricingOtherAreas article{
    width: 32%;

}

/**************************************************************
******         BRAND PRINT - FROM OLD SITE -         *********
**************************************************************/

.brandPrint img{
    float: right;
    max-width: 233px;
    width: 40%;
}

/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 500 PIXELS WIDE             ***********************************
*****************************************************************************************************************
****************************************************************************************************************/

@media (min-width: 31.25em){

    /**************************************************************
    ***************         INDEX          *****************
    **************************************************************/

    .banner-text h1{
        font-size: 2.5em;
        width: 50%;
    }

    .banner-text h2{
        width: 50%;
    	font-size: 1.4em;
        line-height: 1.4em;
    }

    /**************************************************************
    ******************         PRODUCTS          ********************
    **************************************************************/

    .products-banner h1{
        font-size: 3em;
    }

}

/****************************************************************************************************************
*****************************************************************************************************************
********************                  OVER 600 PIXELS WIDE            ****************************
*****************************************************************************************************************
****************************************************************************************************************/

@media (min-width: 37.5em) {

    /**************************************************************
    ***************            BLOG              ******************
    **************************************************************/

    .grid-sizer,
    .blog .post-preview{
        width: 49%;
    }

    .gutter-sizer{
        width: 2%;
    }

    .grid-sizer.full-post{
        width: 100%;
    }

    .gutter-sizer.full-post{
        width: 0;
    }

    /**************************************************************
    ***************         BUY          ******************
    **************************************************************/

    .buy-product-banners{
        .Clearfix();
        background: #fff;
    	padding-top: 1em;
    	padding-bottom: 1em;
    }

    .buy-product-banners img{
        width: 48%;
    	float: left;
    	margin-left: 1%;
    	margin-right: 1%;
    }

    .buy-shops{
        .Clearfix();
    }

    .shop{
	    width: 46%;
	    float: left;
    	margin-left: 2%;
	    margin-right: 2%;
    }

}

/****************************************************************************************************************
*****************************************************************************************************************
********************                  OVER 700 PIXELS WIDE  - THREE COLUMN           ****************************
*****************************************************************************************************************
****************************************************************************************************************/

@media (min-width: 43.75em) {

    /**************************************************************
    ***************         INDEX          ******************
    **************************************************************/

    .banner-text h1{
        font-size: 3.4em;
        width: 60%;
    }

    .banner-text h2{
        font-size: 1.7em;
    }

    .index .flexiseq-classic,
    .index .products-slider,
    .index .stories{
        float: left;
        width: 50%;
    }

    .index .logos-slider{
        width: 100%;
        float: left;
    }

    .index .seq-tec,
    .index .buy-now{
        float: left;
    }

    .index .seq-tec{
        width: 50%;
    }

    .index .buy-flexiseq{
        width: 50%;
    }

    /**************************************************************
    ***************         BLOG          ******************
    **************************************************************/

    .full-post-content{
        font-size: 1.3rem;
    }

    /**************************************************************
    ***************         PRODUCTS          ******************
    **************************************************************/

    .product-images{
        float: left;
    	width: 50%;
    }

    .product-details{
        float: left;
    	width: 50%;
    }

    /**************************************************************
    ***************         CONTACT          ******************
    **************************************************************/

    .contact-us-page{
        padding: 0;
    }

    .left-page,
    .right-page{
        float: left;
        width: 50%;
    }

    .left-page{
        padding: 3em;
    }

    .right-page img{
        display: none;
    }

    .right-page{
        background-image: url(/images/classic-frisbee-lady.jpg);
        background-size: cover;
        background-position: center;
    }

}



/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 750 PIXELS WIDE             ***********************************
*****************************************************************************************************************
****************************************************************************************************************/

@media (min-width: 46.875em){

    /**************************************************************
    ******************         GLOBAL          ********************
    **************************************************************/

    .backToProjects, .viewWebsite{
        display: block;
        float: left;
        width: 50%;
    }

    .viewWebsite button{
        margin-left: 0.5em;
    }

    .backToProjects button{
        margin-right: 0.5em;
    }

    .textSection{
        .Clearfix();
        padding: 0.5em 2em;
    }

    .text{
        padding-right: 2em;
    }

    .sectionNav{
        li{
            padding: 0.5em;
            width: 18%;
        }
    }

     .text, .secondaryImage{
         float: left;
        width: 50%;
         margin: 0;
    }

    .imageWithBackground{
        padding: 2em 2em 0 2em;
    }


    .imageWithBackground .portrait{
        padding: 2em 0.5em 2em 2em;
        margin: 0;
        width: 45%;
    }

    .imageWithBackground .landscape{
        padding: 2em 2em 2em 0.5em;
        margin: 0;
        margin-top: 5%;
        width: 55%;
    }

    .screenshotContent{
        .Clearfix();
        margin: 0 auto;
        max-width: 50em;
    }

    .landscape{
        float: left;
        width: 50%;
    }

    .portrait{
        float: left;
        width: 25%;
    }

    /**************************************************************
    ******************         site map          ********************
    **************************************************************/

    .left-site-map{
        width: 55%;
        float: left;
    }

    .right-site-map{
        width: 40%;
        float: left;
    }


    /**************************************************************
    ******************         NAV RELATED          ********************
    **************************************************************/

    /* servicesNav

    .sectionNav{
        padding: 0 0 0 8em;
    }

    .sectionNav h2{
        font-weight: 600;
    }

    .servicesNav ul{
        list-style: none;
    }

    .servicesNav ul > li{
        font-size: 0.8em;
        font-weight: 600;
        margin: 0 0 1em 0;
    }*/

    /**************************************************************
    ******************         HEADER          ********************
    **************************************************************/


    .ghost{
        height: 4.7em;
    }

    #logo{
        width: 11em;
    }


    header button{
        display: block;
    }

    .phoneIcon{
        display: none;
    }

    header button:hover{
        background: #666666;
    }

    #hamburger{
        top: 0.6em;
    }

    /**************************************************************
    ******************         INDEX          ********************
    **************************************************************/

    /*.navTiles .tile, */
    .tileContainer{
        display: block;
        float: left;
        width: 50%;
    }

    .tileContainer-full {
        display: block;
        float: left;
        width: 100%;
    }

      .navTiles .tile .intro h1 {
        font-size: 2.65em;
    }

    .infoBox{
        padding: 4em;
        article{
            /*float: left;*/
            display: inline-block;
            margin-top: 2em;
            padding: 0 0.75em;
            width: 30%;
        }
    }

    .infoBox.industryFocus{
        text-align: center;
    }

    .infoBox.social .content{
        .Clearfix();
        margin: 0 auto;
        max-width: 750px;
    }

    .infoBox.social .content > div{
		float: left;
        margin-bottom: 0 ;
        vertical-align: top;
        width: 33.33%;
    }

    .infoBox.social{
        padding: 2em;
        text-align: center;
    }

    .infoBox.social .socialIcons{
        padding-left: 2em;
    }

    .infoBox.social .socialIcons img{
        margin: 0.5em 0.5em 0.5em 0;
        width: 2.5em;
    }

    /**************************************************************
    *****************         PRODUCTS          *******************
    **************************************************************/

    .products-banner h1{
        font-size: 4em;
    }

    /**************************************************************
    ******************         CONTACT          ********************
    **************************************************************/

    .noTiles .content{
        .Clearfix();
        display: block;
        margin: 0 auto;
        max-width: 900px;
        padding: 4em 1em 5em 1em;
    }

    .contactForm, .contact .details{
        display: block;
        float: left;
        margin: 0;
        width: 50%;
    }

    .contactForm{
        margin-bottom: 2em;
    }

    .map{
        padding: 0 0 0 2em;
    }

    .contact form {
        margin: 1em 0;
        padding: 0 1em 0 0;
    }

    .map{
        clear: both;
        display: block;
        float: left;
        max-width: 900px;
    }

    .contact .details{
        text-align: right;
    }

    /**************************************************************
    ******************         ABOUT          ********************
    **************************************************************/

    .about .aboutText, .about .team{
        display: block;
        float: left;
        margin: 0;
        width: 50%;
    }

    .about .aboutText{
        padding-right: 1em;
    }

    .about .team{
        padding-left: 1em;
    }


    /**************************************************************
    ******         PORTFOLIO - FROM OLD SITE) -         *********
    **************************************************************/

    .portfolio .content{
        text-align: center;
    }

    .portfolio article{
        display: inline-block;
        margin: 0 2% 4em 2%;
        max-width: 400px;
        width: 25%;
    }

    .portfolio article button{
        display: inline-block;
        font-size: 1em;
        margin: 1%;
        width: 47%;
    }

    /**************************************************************
    ******         PRICING - FROM OLD SITE -         *********
	**************************************************************/

    .pricing .content{
        text-align: center;
    }

    .pricing article{
        display: inline-block;
        margin: 0 1% 2em 1%;
        max-width: 320px;
        text-align: left;
        vertical-align: top;
        width: 22%;
    }

    /**************************************************************
    ******         CLIENTS         *********
	**************************************************************/

	.pageContent.noTiles .client-logos img{
        padding: 1em 2em;
    }


}

/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 900 PIXELS WIDE             ***********************************
*****************************************************************************************************************
****************************************************************************************************************/

@media (min-width: 56.25em){

    .infoBox.quote{
        padding: 8em 4em 1em 4em;
        .clientLogo{
            display: block;
            float: left;
            width: 25%;
        }
        blockquote{
            display: block;
            float: left;
            padding-left: 4em;
            width: 75%;
        }
    }

    .quote blockquote h1:before {
        left: 0.37em;
    }

    .logoBox img{
        margin: 0 1em;
    }

    .pageContent.blog.noTiles .content{
        max-width: 1000px;
    }

    .pageContent.blog.noTiles{
        padding: 0 2em 2em 2em;
    }

    /**************************************************************
    ******************        PRODUCTS         *******************
    **************************************************************/

    .product{
        border-bottom: none;
        border-right: 1px solid #bdbdbd;
        float: left;
        max-width: none;
        width: 33.33%;
    }

    .product:last-child{
        border-right: none;
    }



}

/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 1000 PIXELS WIDE             ***********************************
***************************                  - MENU CHANGE                    ***********************************
*****************************************************************************************************************
****************************************************************************************************************/

@media (min-width: 62.5em) {

    /**************************************************************
    ******************         INDEX          *******************
    **************************************************************/

    .index.pageContent{
		margin-top: 0;
        max-width: none;
        padding: 0;
    }

    /*.pageContent.blog,
    .pageContent.product-page,
    .pageContent.where-to-buy{
        margin-top: @header-height;
    }*/

    .banner-text {
        position: absolute;
        top: 9em;
        left: 3em;
    }

    .index .banner-text h1{
        font-size: 4.5em;
    }

    .index .banner-text h2{
        font-size: 2.2em;
    }


    .index > .flexbox-container{
        background: #fff;
    }

	.index h2{
        z-index: 1;
    }

    .tile img,
    .tile-text p,
    .why-is-it-good-for-me img,
    .skincare-tips-for-me img,
    .my-resources img,
    {
        transition: opacity 0.25s ease-in-out;
    	-o-transition: opacity 0.25s ease-in-out;
    	-ms-transition: opacity 0.25s ease-in-out;
    	-moz-transition: opacity 0.25s ease-in-out;
    	-webkit-transition: opacity 0.25s ease-in-out;
    }

    .tile:hover img,
    .why-is-it-good-for-me:hover img,
    .skincare-tips-for-me:hover img,
    .my-resources:hover img{
        opacity: 0.5;
    }


    .my-skin-concerns:before,
    .our-giving-back:before,
    .skincare-resources-pro:before,
    .contact-us:before{
        background: #fff;
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
    }

    .my-skin-concerns,
    .our-giving-back,
    .skincare-resources-pro,
    .contact-us{
    	transition: opacity 0.25s ease-in-out;
    	-o-transition: opacity 0.25s ease-in-out;
    	-ms-transition: opacity 0.25s ease-in-out;
    	-moz-transition: opacity 0.25s ease-in-out;
    	-webkit-transition: opacity 0.25s ease-in-out;
    }

    .my-skin-concerns:hover,
    .our-giving-back:hover,
    .skincare-resources-pro:hover,
    .contact-us:hover{
        opacity: 0.5;
    }

    /**************************************************************
    ***************            BLOG              ******************
    **************************************************************/

    .pageContent.blog{
        padding: 2em;
    }

    .blog article{
        margin-bottom: 2em;
    }

    .grid-sizer,
    .blog .post-preview{
        width: 32%;
    }

    .gutter-sizer{
        width: 2%;
    }

    /**************************************************************
    ******************         PRODUCTS          ********************
    **************************************************************/

    .products.pageContent{
        margin-top: @header-height;
        padding: 0;
    }

    /**************************************************************
    ***************         BUY          ******************
    **************************************************************/

    .shop{
	    width: 29%;
	    float: left;
    	margin-left: 2%;
	    margin-right: 2%;
        margin-bottom: 2em;
    }


}




/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 1270 PIXELS WIDE             ***********************************
*****************************************************************************************************************
****************************************************************************************************************/

@media (min-width: 79.375em){

    /* there is now room enough in the header for the "request consultation" button to slide left when the menu
       is opened*/
    .slideLeft{
        right: 13.5em;
    }

    .infoBox article{
        margin: 2em 2em 0 2em;
    }



    /**************************************************************
    ******         PRICING - FROM OLD SITE -         *********
	**************************************************************/

    .pricing .content{
        text-align: center;
    }

    .pricing article{
        display: inline-block;
        margin: 0 1% 2em 1%;
        max-width: 320px;
        text-align: left;
        width: 22%;
    }



}



/****************************************************************************************************************
*****************************************************************************************************************
***************************                  OVER 1500 PIXELS WIDE             ***********************************
*****************************************************************************************************************
****************************************************************************************************************/

@media (min-width: 93.75em){

    /**************************************************************
    ********         LAYOUT / PAGE STRUCTURE          *************
    **************************************************************/

    #hamburger{
        display: none;
    }



    .navigation > div > ul > li > ul,
    .site-wrap,
    .navCover,
    footer .backToTop{
        left: 16.5em;
    }

    nav{
        .Clearfix();
        height: 100%;
        position: fixed;
    }

    .navigation{
        height: 100%;
        /*position: static;*/
    }

    .site-wrap{
        min-width: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    nav, .site-wrap{
        display: block;
        float: left;
    }

    .fixed{
        left: 16.5em;
        right: 0;
        width: auto;
    }

	footer nav{
        float: none;
        height: auto;
        position: relative;
        width: auto;
    }

    /**************************************************************
    ******************         HEADER          ********************
    **************************************************************/

    header{
        left: 16.5em;
        right: 0;
        width: auto;
    }

    .menu{
        display: none;
    }

    /**************************************************************
    ******************         PRODUCTS          ********************
    **************************************************************/

    .product-page .button {
        display: block;
        margin-bottom: 0;
        text-align: center;
        width: 29.33%;
        float: left;
        margin-right: 2%;
        font-size: 1.2em;
        margin-left: 2%;
        padding: 0.5em 0;
    }

    .buttons-section{
        .Clearfix();
        margin-bottom: 2em;
    }


}




















